html,
body {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font: 14px Arial;
}
.hovereffects-header {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 120px;
  padding-top: 30px;
  text-align: center;
}
.major-highlights {
  margin-top: 70px;
}
.circle {
  display: inline-block;
  width: 33%;
}
.circle__wrapper {
  height: 250px;
  margin: 0 auto;
  position: relative;
  width: 250px;
}
.circle__inner {
  border-radius: 50%;
  cursor: pointer;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}
.circle__wrapper:hover .circle__overlay {
  display: block;
}
.circle__wrapper:hover .circle__inner {
  display: none;
}
.circle__inner--green {
  background-color: #5ba446;
}
.circle__inner--orange {
  background-color: #ef7b0a;
}
.circle__inner--blue {
  background-color: #00a3e4;
}
.circle__overlay {
  border-radius: 50%;
  display: none;
  height: 400px;
  left: -28%;
  position: absolute;
  top: -30%;
  width: 400px;
  z-index: 20;
}
.circle__text {
  color: #fff;
  font-size: 18px;
  left: 40%;
  position: absolute;
  top: 40%;
}
.text--headline {
  padding-bottom: 70px;
}
.text--center {
  text-align: center;
}
.circle__overlay--green,
.circle__inner--green {
  border: 1px solid #5ba446;
}
.circle__overlay--orange,
.circle__inner--orange {
  border: 1px solid #ef7b0a;
}
.circle__overlay--blue,
.circle__inner--blue {
  border: 1px solid #00a3e4;
}
